/* Reset de margin e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #a11d5f;
}

/* Cabeçalho */
header {
    background-color: #a11d5f;
    color: rgb(0, 255, 234);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
}

section h2 {
    color: #333;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li {
        display: block;
        margin: 5px 0;
    }
}
 
.shampoo{
    width: 180px;
}

.base{
    width: 210px;
}

.rimel{
    width: 250px;
}

.bolsa{
    width: 280px;
}

.kidscabelo{
    width: 220px;
}

.tabuleiro{
    width: 230px;
}

.carrinho{
    width: 250px;
}

.remoto{
    width: 250px;
}

.masculino{
    width: 250px;
}

.feminino{
    width: 250px;
}

.femkids{
    width: 250px;
}

.sand{
    width: 250px;
}